{% include 'header.html' %}

<div class="auth-reg-form">

    <form class="auth-form" method="POST">
        <div class="auth-reg-form__heading">Авторизация</div>
        <label class="auth-reg-form__label" for="auth_email">E-mail:</label>
        <input class="auth-reg-form__input" type="email" required id="auth_email">
        <label class="auth-reg-form__label" for="auth_password">Пароль:</label>
        <input class="auth-reg-form__input" type="password" required id="auth_password">
        <div class="auth-reg-form__errors auth-error-js"></div>
        <div class="auth-reg-form__buttons-container">
            <button class="auth-reg-form__button" id="auth_button" type="submit">Войти</button>
            <div class="auth-reg-form__button-reverse" onclick="authRegFormToggle()">Зарегистрироваться</div>
        </div>
    </form>



    <form class="reg-form display-none" method="POST">
        <div class="auth-reg-form__heading">Регистрация</div>
        <label class="auth-reg-form__label" for="name">Имя:</label>
        <input class="auth-reg-form__input" type="text" required id="name">
        <label class="auth-reg-form__label" for="email">E-mail:</label>
        <input class="auth-reg-form__input" type="email" required id="email">
        <label class="auth-reg-form__label" for="password">Пароль:</label>
        <input class="auth-reg-form__input" type="password" required id="password">
        <label class="auth-reg-form__label" for="confirm-password">Подтвердите пароль:</label>
        <input class="auth-reg-form__input" type="password" required id="password_confirm">
        <div class="auth-reg-form__errors reg-error-js"></div>
        <div class="auth-reg-form__buttons-container">
            <button class="auth-reg-form__button" type="submit" id="registration_button">Зарегистрироваться</button>
            <div class="auth-reg-form__button-reverse" onclick="authRegFormToggle()">Войти</div>
        </div>
    </form>

</div>

{% include 'footer.html' %}